.AboutInfoCardWrapper{
    background-color: $secondaryColor;
    color: $white;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    padding-top: $GeneralSeparator100;
    padding-bottom: $GeneralSeparator50;
    text-align: center;
}
.AboutInfoCardTitle{
    font-size: $FontSizeTop30;
<<<<<<< HEAD
    //line-height: 85.33px;
=======
    /*line-height: 85.33px;*/
>>>>>>> 3491fef24d67eb6a230bf6fc9bd6ddc424718257
    font-weight: 200;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: $GeneralSeparator50;
}
.AboutInfoCardSubTitle{
    font-size: $FontSizeTop30;
    font-weight: 400;
    line-height: 43.88px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
.AboutInfoCardContent{
font-size: $FontSizeTop20;
font-weight: 400;
line-height: 40px;
text-align: left;

}
.AboutInfoCardInliner{
    width: 80%;
    display: flex;
    width:80%;
}
.InfoCardColumnContent{
width: 100%;
}
@media (max-width: #{$screen-md-min}) {
    .AboutInfoCardInliner{
        display: block;
    }
    .AboutInfoCardTitle{
        padding-left: 0px;
        padding-right: 0px;
    }
    .AboutInfoCardSubTitle{
        text-decoration: underline;
        padding-left: 0px;
        padding-right: 0px;
    }
}