//Normal Css Styles
.BigParagraphWrapper {
    min-width: 0.00000001vw;
    background: $white;
    color: $secondaryColor;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    padding-bottom: $GeneralSeparator160;
    
}
 .BigParagraphGrid{
   
 }
.BigParagraphTitleWrapper {
    padding-top: $GeneralSeparator160;
    font-size: $FontSizeTop30;
    line-height: 60px;
    width: 70%;
    font-weight: 700;
}

.BigParagraphBodyWrapper {
    font-size: $FontSizeTop24;
}


.BigParagraphTagsWrapper {
    padding-top: $GeneralSeparator80;
    display: inline-block;
    width: 60%;

    .Tag {
        font-size: $FontSizeTop14;
        display: inline-flex;
        padding: 5px 5px 5px 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: $secondaryColor;
        width: auto;
        color: $white;
        text-align: center;
    }
}
.BigParagraphImgWrapper{
    padding-top: $GeneralSeparator80;
    width:80%;
}
.inlineRower{
    display: inline-block;
    min-height: 80px;
    width: 130px;
    filter:grayscale(1);
    padding:10px;
}
.Rower{
    display: inline-block;
}
.rustClause{
    opacity: 0.8;
}
.resetBlock{
    display:block
}
@media (max-width: #{$screen-md-min}) {
    .BigParagraphImgWrapper{
        width: 100%;
    }
    .BigParagraphGrid{
        width: 100%;
     }
    .BigParagraphTitleWrapper {
        line-height: 25px;
        width: 100%;
        font-weight: 400;
    }
    .BigParagraphTagsWrapper{
        width: 100%;
    }
    .BigParagraphImgWrapper{
        width: 100%;
    }
    .Rower{
        display: block;
        width:100%;
    }
    .inlineRower{
        width:30%;
        padding:5px;
    }
}