//Usual CSS Styles
.FormWrapper {
    background: $thirdColor;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    padding-bottom: $GeneralSeparator300;
    
    .ContactFormWrapper {
        padding-top: 30px;
    }

    .ContactFormSendWrapper {
        display: block;
        float: right;
        margin: 1px 1px 1px 1px;
        padding-top: 10px;
    }

    button {
        font-family: inherit;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }

    button.ContactFormSelector {

        font-size: $FontSizeTop20;
        background: $thirdColor;
        color: $white;
        padding: 10px 10px 10px 10px;
        margin: 0px 0px 0px 0px;
 
     
    
    }
   
    button.ContactFormSelector:hover {
        background: rgba($color: $white, $alpha: 0.05);

    }
    .ButtonRestricter{
        width: fit-content;
    }

    button.ContactFormSelector:active {
        background: rgba($color: $white, $alpha: 0.1);
    }

    button.ContactFormSend {
        font-size: $FontSizeTop18;
        background-color: $white;
        color: $secondaryColor;
        padding: 16px 20px 16px 20px;
        border-radius: 100px;
        font-weight: 400;
       
    }

    button.ContactFormSend:hover {
        background: rgba($color: $white, $alpha: 0.9);
    }

    button.ContactFormSend:active {
        background: rgba($color: $white, $alpha: 0.7);
    }

    .NotUnderlinedButton {
        width: 0%;
        transition: 300ms width;
    }
    .UnderlinedButton {
        width: 100%;
        transition: 300ms width;
    }


}

.ContactFormWideInput {
    width: 100%;
    font-size: $FontSizeTop20;
    p{
        margin-bottom: 0px;
    }
   
}

.ContactFormRestricted40Input {
    width: 40%;
    padding-left: 10px;
}

.ContactFormPhoneInput {
    min-width: 200px;
}


.ContactFormInputWrapper {
    display: inline-flex;
    width: 100%;
}

    input {
        font-size: $FontSizeTop18;
        color: $white;
        background-color: inherit;
        border: 0px;
        border-bottom: 1px solid $white;
        font-weight: 300;
        width: 100%;
        padding: 10px 12px;
        min-height: 30px;
        font-family: 'Montserrat', sans-serif;
        box-sizing: border-box;
    }
    input:focus-visible {
        border-radius: 6px 6px 0px 0px;
        outline: none;
        background-color: rgba($color: $white, $alpha: 0.05);
    }
   
    textarea {
        resize: vertical;
        width: 100%;
        background-color: $thirdColor;
        border: 0px;
        padding: 0px 0px 0px 0px;
        color: $white;
        min-height: 100px;
        font-size: $FontSizeTop20;
        font-family: 'Montserrat', sans-serif;
        line-height: 30px;
        border-bottom: 1px solid $white;

    }

    textarea:focus-visible {
        outline: none;
        background-color: rgba($color: $white, $alpha: 0.05);
    }


.ContactFormMain {
    padding-top: $GeneralSeparator80;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.DragAndDropArea {
   
    width: fit-content;
    border: 1px solid $white;

    
}
.DragAndDropWrapper{
    width: 100%;
}
.ContactFormUnderlining {
    
    margin-bottom: 24px;
}

.DragAndDropBorder {
    border: 1px solid $white;
    height: 100%;
}
.svgUploadWrapper{
    width: 150px;
    height: 150px;
}
.PlaceholderAligner{
    margin: 0px 0px 0px 0px;
    padding-bottom: 8px;
}
.Visible {
    display: block;
    padding-bottom: 40px;
}

.NotVisible {
    display: none;
}
.resumeUploaderLabel{
    padding: $GeneralSeparator20 $GeneralSeparator40 
}
.resumeUploaderLabel:hover{
    background: rgba($color: $secondaryColor, $alpha: 0.2);
    cursor:pointer;
}
.resumeUploaderLabel:active{
    background: rgba($color: $secondaryColor, $alpha: 0.5);

}
.uploadResumeButton{
    font: inherit;
    color: inherit;
    text-decoration:none;
    background: inherit;
    padding: 0px 0px 0px 0px;
}

.uploadResumeButton:active{
    background: rgba($color: $secondaryColor, $alpha: 0.5);
    cursor:pointer;
}
.TextareaWrapper{
    p{
        margin-bottom: 8px;
    }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
.ContactFormSend{
    display: flex;
    min-width: 0.00000001vw;
    align-items:center;
    
}
.ContactFormSendLineContent{
    width: $FontSizeTop24;
    height: $FontSizeTop24;
    margin-left: clamp(30px, 5vw, 50px);
   
}

@media (max-width: #{$screen-md-min}) {
    .ContactFormMain{
        width: 100%;
    }
.ContactFormRestricted40Input{
    width: 100%;
    padding: 0,0,0,0;
}

}
.InputFlagger{
 display: none;
}
.ContactFormRedUnderlining{
    border-color: $primaryColor;
}