//Usual CSS Styles
.FormWrapper {
    background: $thirdColor;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    padding-bottom: $GeneralSeparator300;
    
    .ContactFormWrapper {
        padding-top: 30px;
    }

    .ContactFormSendWrapper {
        display: block;
        float: right;
        margin: 1px 1px 1px 1px;
    }

    button {
        font-family: inherit;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }

    button.ContactFormSelector {

        font-size: $FontSizeTop20;
        background: $thirdColor;
        color: $white;
        padding: 10px 10px 10px 10px;
        margin: 0px 0px 0px 0px;
 
     
    
    }
   
    button.ContactFormSelector:hover {
        background: rgba($color: $white, $alpha: 0.05);

    }
    .ButtonRestricter{
        width: fit-content;
    }

    button.ContactFormSelector:active {
        background: rgba($color: $white, $alpha: 0.1);
    }

    button.ContactFormSend {
        font-size: $FontSizeTop18;
        background-color: $white;
        color: $secondaryColor;
        padding: 16px 16px 16px 16px;
        border-radius: 100px;
        font-weight: 600;
       
    }

    button.ContactFormSend:hover {
        background: rgba($color: $white, $alpha: 0.9);
    }

    button.ContactFormSend:active {
        background: rgba($color: $white, $alpha: 0.7);
    }

    .NotUnderlinedButton {
        width: 0%;
        transition: 300ms width;
    }
    .UnderlinedButton {
        width: 100%;
        transition: 300ms width;
    }


}

.ContactFormWideInput {
    width: 100%;
}

.ContactFormRestricted40Input {
    width: 40%;
    padding-left: 10px;
}

.ContactFormPhoneInput {
    min-width: 200px;
}


.ContactFormInputWrapper {
    display: inline-flex;
    width: 100%;
}
    p {
        font-size: $FontSizeTop30;
        padding-bottom: 10px;
    }

    input {
        font-size: $FontSizeTop30;
        color: $white;
        background-color: $thirdColor;
        border: 0px;
        width: 100%;
        padding-bottom: 10px;
        min-height: 30px;
        font-family: 'Montserrat', sans-serif;
    }

    input:focus-visible {
        border-radius: 0px;
        outline: none;
        background-color: rgba($color: $white, $alpha: 0.05);
    }
   
    textarea {
        resize: vertical;
        width: 100%;
        background-color: $thirdColor;
        border: 0px;
        padding: 0px 0px 0px 0px;
        color: $white;
        min-height: 200px;
        font-size: $FontSizeTop24;
        padding: 0,0,0,0;
        font-family: 'Montserrat', sans-serif;
        line-height: 30px;

    }

    textarea:focus-visible {
        outline: none;
        background-color: rgba($color: $white, $alpha: 0.05);
    }


.ContactFormMain {
    padding-top: $GeneralSeparator160;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.DragAndDropArea {
    min-height: 200px;
    width: auto;
    border: 1px solid $white;
    margin: 10px 10px 10px 10px;
    padding: 16px;
}
.DragAndDropWrapper{
    width: 100%;
}
.ContactFormUnderlining {
    border-bottom: 1px solid $white;
    
    
    margin-bottom: $GeneralSeparator40;
}

.DragAndDropBorder {
    border: 1px solid $white;
    height: 100%;
}

.Visible {
    display: block;
    padding-bottom: 40px;
}

.NotVisible {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
.ContactFormSend{
    display: flex;
    min-width: 0.00000001vw;
    align-items:center;
    
}
.ContactFormSendLineContent{
    width: $FontSizeTop24;
    height: $FontSizeTop24;
    margin-left: $GeneralSeparator20;
}

@media (max-width: #{$screen-md-min}) {
    .ContactFormMain{
        width: 100%;
    }
.ContactFormRestricted40Input{
    width: 100%;
    padding: 0,0,0,0;
}

}
.InputFlagger{
 display: none;
}
.ContactFormRedUnderlining{
    border-color: $primaryColor;
}