@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

//Grid templating



.navContentWrapperGrid {
display: flex;
}

//Grid positionings

.nav {
    .NavIcon{
        min-height: 25px;
        display: block;

    }
    .NavMenuLink{
        padding-left: 40px;
        float: right;
    }

}



//Usual Scss classes and styles, work here to change styles and such
.heroWrapper {
    height: 100vh;
    transition:1s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}
.BaseHero{
    color: $white;
        h1{
            font-weight: 100;
        }
}
.BaseAboutUs{
    background:url('../../public/assets/img/AboutUsBackground.jpg');
    color: $secondaryColor;
    .PointerCursor{
        filter: brightness(0);
    }
}
.BaseContactUs{
    background: $thirdColor;
    color: $white;
    font-weight: 700;
    .AsteriskSvg{
        filter: brightness(100);
    }

}
.heroSlogan h1 {
    min-width: 0.00000001vw;
    font-size: $FontSizeTop70;
    padding-left: $GeneralSeparator300;
    padding-right: $GeneralSeparator300;
    width: 50%  ;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-bottom: $GeneralSeparator160;
    overflow: auto;

}
.heroSloganAlt h1 {
    min-width: 0.00000001vw;
    font-size: $FontSizeTop80;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    padding-bottom: $GeneralSeparator160;
    width: 60%;
    
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: auto;

}
.NavMenuLink a{
    text-decoration: none;
    color: inherit;
}

.nav {
    padding-top: 1vh;
    font-weight: 400;

    .navContentWrapperGrid {
        padding-left: $paddingLeft;
        padding-right: $paddingRight;
        padding-bottom: $GeneralSeparator160;

        .navIcon {
            padding-left: 16px;
            min-width: 75px;
            min-height: 75px;
        }

        .navContact {
            text-align: center;
            font-family: 'Open Sans', 'Montserrat', sans-serif;
        }
    }
}

.Linkr {
    padding-left: $paddingLeft;


}

.AsteriskWrapper {
    width: 10vw;
    height: 10vw;
    padding-left: $paddingLeft
}
.NavMenuLink{
    font-size: $FontSizeTop18;
    display:flex;
    justify-content:center;
    align-items:center;
}
.NavMenuSeparator{
    width: 100%;
}
.PointerCursor{
    cursor: pointer;
}
.ALternativeTitleWrapper{
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    font-size: $FontSizeTop20;
}
.ALternativeTitleContent{
    font-size: $FontSizeTop34;
    line-height: 60px;
}
.HeroSectionWrapper{
    padding-bottom: $GeneralSeparator300;
}
.NavMenuLink{
    button{
        color: inherit;
        border: none;
        background: none;
        font-size: inherit;
        font-family: inherit;
    }
    font-weight: 500;
    button:hover{
        cursor: pointer;
        color: $accentColor;
    }
}
.NavIcon{
    cursor: pointer;
}
//Mobile Scss
@media (max-width: #{$screen-md-min}) {
   
    .heroGrid {
        display: block;
    }

    .heroSlogan {


        h1 {
            text-align: center;
        }
    }
    .AsteriskWrapper {
        padding-left: $paddingLeft;
        padding-right: $paddingRight;
        
    }
    .heroSlogan h1 {
        width: auto ;
    }
    .heroSloganAlt h1 {
        width: auto;
    
    }
    .heroWrapper{
        max-height: 650px;
    }
@media (max-width: #{$screen-sm-min}) {
    .heroWrapper{
        max-height: 340px;
    }
}


}
.SkyboxBackgroundWrapper{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
}

@media (max-width: #{$screen-lg-min}) {}

@media (max-width: #{$screen-xl-min}) {}

/*
Para la imagen
background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(marita-kavelashvili-ugnrXk1129g-unsplash.jpg);

//Inside auto layout 

flex: none;
order: 0;
flex-grow: 0;*/