.LinksComponentWrapper{
    background-color: $secondaryColor;
    color: $white;
    padding-left: $padding;
    padding-right: $padding;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    transition: 0.5s;
}
.LinksComponentLinkwrapper{
    padding-bottom: 20px;
    padding-top: 0px;
}

.LinksComponentInliner{
    display:flex;
}

.LinksComponentColumn{
    width: 100%;
    font-size: $FontSizeTop18;
    line-height: 22px;
    text-align: left;
    a{
        color: $white;
        font-family: inherit;
        text-decoration: underline;
        text-decoration-color: $white;
        text-underline-offset: 6px;
    }

}
.linkResideRight{
    text-align: right;
}
@media (max-width: #{$screen-xl-min}) {
    .LinksComponentWrapper{
        padding-left: $paddingXl;
        padding-right: $paddingXl;
    }
}
@media (max-width: #{$screen-lg-min}) {
    .LinksComponentWrapper{
        padding-left: $paddingLg;
        padding-right: $paddingLg;
    }
}
@media (max-width: #{$screen-md-min}) {
    .LinksComponentWrapper{
        padding-left: $paddingMd;
        padding-right: $paddingMd;
    }
    .LinksComponentColumn{
        line-height: normal;
    }
}
@media (max-width: #{$screen-sm-min}) {
    .LinksComponentWrapper{
        padding-left: $paddingSm;
        padding-right: $paddingSm;
    }
}