//Grid templating
.restGrid {
    color: $white;
}


// Common Css Styles
.restWrapper {
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left: $GeneralSeparator160;
    padding-right: $GeneralSeparator160;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/assets/img/RestComponentBackground.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.restTittle {
    font-size: 18px;
    min-width: 0.00000001vw;

}

.restContent {
    min-width: 0.00000001vw;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    width: 60%; 
    height: auto;
    line-height: 90px;

}
@media (max-width: #{$screen-md-min}) {
.restContent{
    width: auto;
    line-height:normal;
    padding-left: 0px;
    padding-right: 0px;
    
}
.restWrapper {
    padding-top: $GeneralSeparator300;
    padding-bottom: $GeneralSeparator300;
}
}
