//Grid templating
.restGrid {
    color: $white;
}


// Common Css Styles
.restWrapper {
    padding-top: 180px;
    padding-bottom: 180px;
    padding-left: $padding;
    padding-right: $padding;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/assets/img/RestComponentBackground.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;

}

.restTittle {
    font-size: 18px;
    min-width: 0.00000001vw;
}

.restContent {
    min-width: 0.00000001vw;
    transition: 1s;
    width: 60%;
    height: auto;
    line-height: 80px;

}

@media (max-width: #{$screen-xl-min}) {
    .restWrapper {
        padding-top: 130px;
        padding-bottom: 130px;
        padding-left: $paddingXl;
        padding-right: $paddingXl;
    }
}

@media (max-width: #{$screen-lg-min}) {
    .restWrapper {
        padding: $paddingXl $paddingLg;
    }
    .restContent {
       font-size: $fontResponsiveTitlesLg;
       line-height: 55px;
    }
}

@media (max-width: #{$screen-md-min}) {
    .restWrapper {
        padding: $paddingXl $paddingMd ;
    }

    .restContent {
        width: 100%;
        font-size: $fontResponsiveTitlesMd;
        line-height: 50px;
    }
}

@media (max-width: #{$screen-sm-min}) {
    .restWrapper {
        padding: $paddingLg $paddingSm ;
    }
    .restContent {
        font-size: $fontResponsiveTitlesSm;
        line-height: 40px;
    }
}