.SmallParagraphWrapper{
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    padding-top: $GeneralSeparator100;
    padding-bottom: $GeneralSeparator100;
    color: $secondaryColor;
    overflow: auto;
    
}
.SmallParagraphTitle{
    display: block;
    width: fit-content;
}
.SmallParagraphContentText{
    display: block;
    font-weight: 300;
    font-size: $FontSizeTop50;
    line-height: 160%;
    a{
        text-decoration: none;
        font-size: inherit;
        color: inherit;
        border-bottom: 6px solid $accentColor;
    }

}
.SmallParagraphContentWrapper{
    width: 60%;
    transition: 1s;
    float: right;
}
@media (max-width: #{$screen-lg-min}) {
    .SmallParagraphContentWrapper{
        width: auto;
        float: left;
        .SmallParagraphContentText{
            line-height: 35px;
            a{
                border-bottom: 1px solid $accentColor;
            }
        }
        
    }
    }