.SmallParagraphWrapper{
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    padding-top: $GeneralSeparator100;
    padding-bottom: $GeneralSeparator100;
    color: $secondaryColor;
    overflow: auto;
}
.SmallParagraphTitle{
    display: block;
    width: fit-content;
}
.SmallParagraphContentText{
    display: block;
    font-weight: 400;
    font-size: $FontSizeTop42;
    line-height: 160%;
    a{
        text-decoration: none;
        font-size: inherit;
        color: inherit;
        border-bottom: 2px solid $accentColor;
    }

}
.SmallParagraphContentWrapper{
    width: 50%;
    float: right;
}
@media (max-width: #{$screen-lg-min}) {
    .SmallParagraphContentWrapper{
        width: auto;
        float: left;
    }
    }