@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

//Grid templating
.ColumnTextWrapper {
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    background: $secondaryColor;
    padding-top: $GeneralSeparator100;
    padding-bottom: $GeneralSeparator100;

}

.ColumnContentGrid {
    display: grid;
}

.ColumnSize1 {
    display: block;
}

.ColumnSize2 {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
}

.ColumnSize3 {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 150px;
}

.RowSize2 {
    row-gap: 30px;
    grid-template-rows: 1fr 1fr;
}

// Grid positioning
.ColumnContentPosition1 {
    grid-column: 1;
}

.ColumnContentPosition2 {
    grid-column: 2;
}

.ColumnContentPosition3 {
    grid-column: 3;
}

.ColumnContentPosition4 {
    grid-column: 1;
    grid-row: 2;
}

.ColumnContentPosition5 {
    grid-column: 2;
    grid-row: 2;
}

.ColumnContentPosition6 {
    grid-column: 3;
    grid-row: 2;
}

//Css styling
.ColumnsTextTitle {
    font-size: $FontSizeTop50;
    padding-bottom: 16px;

}

.ColumnContentTitle {
    font-size: $FontSizeTop24;
    padding-bottom: 16px;
    line-height: 30px;
    font-weight: 500;
}

.ColumnContentText {
    font-size: $FontSizeTop18;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: $GeneralSeparator100
}

.ColumnSize2 {
    .ColumnContentText {
        font-style: normal;
        font-weight: 400;
        font-size: $FontSizeTop20;
        line-height: 40px;
    }
}

.MainStyleWhite {
    background-color: $white;
    color: $secondaryColor;
}

.MainStylewhite {
    background-color: $white;
    color: $secondaryColor;
}

.MainStyleBlack {
    background-color: $secondaryColor;
    color: $white;
}

.MainStyleblack {
    background-color: $secondaryColor;
    color: $white;
}

@media (max-width: #{$screen-lg-min}) {
    .ColumnContentGrid {
        display: block;
       
    }
    .ColumnContentText{
        border-bottom: 1px solid $secondaryColor;
    }
}
@media (max-width: #{$screen-md-min}) {
    .ColumnContentTitle {
        line-height: normal;
        font-size: 1rem;
    }
    
    .ColumnContentText {
        line-height: 20px;
    }
    
    .ColumnSize2 {
        .ColumnContentText {
            line-height: 25px;
            font-size: 1rem;
        }
    }
}

