// Imports
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


//Usual Scss Styles
.TitleAndSubtitleParentWrapper {
    background: $secondaryColor;
    min-width: 0.00000001vw;
    padding-top: $GeneralSeparator100;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    padding-bottom: $GeneralSeparator50;
    font-weight: 600;
}

.TitleWrapper {
    min-width: 0.00000001vw;
    font-size: $FontSizeTop80;
    padding-bottom: $GeneralSeparator40;
    width: 65%;
    line-height: 97px;
}

.SubTitleContentWrapper {
    width: 50%;
    min-width: 0.00000001vw;
    font-size: $FontSizeTop28;
    line-height: 50px;
    font-weight: 400;
}

@media (max-width: #{$screen-md-min}) {
    .TitleWrapper {
        width: 100%;
        line-height: normal;
    }
    .SubTitleContentWrapper {
        width: 100%;
        line-height: 25px;
        font-size: 1rem;
    }
}